In [11]:
from datascience import *
from urllib.request import urlopen
import numpy as np
%matplotlib inline

odd_array = make_array(1, 3, 5, 7)
even_array = np.arange(2, 10, 2)

In [12]:
odd_array + even_array

array([ 3,  7, 11, 15])

In [13]:
even_array.item(3) * odd_array.item(1)

24

In [14]:
odd_array.item(2)

5

In [18]:
tbl = Table().with_columns(
    "Auction_ID", np.arange(1, 4, 1),
    "Item", make_array("Jacket", "Smartwatch", "Tablet"),
    "Opening_Bid", make_array(50, 100, 350)
    "Closing_Price", make_array(75, 150, 600)
)
tbl

Auction_ID | Item       | Opening_Bid | Closing_Price
1          | Jacket     | 50          | 75
2          | Smartwatch | 100         | 150
3          | Tablet     | 350         | 600

In [21]:
jackets_under_price = tbl.where("Item", are.equal_to("Jacket")).where("Closing_Price", are.below(150))
jackets_under_price

Auction_ID | Item   | Opening_Bid | Closing_Price
1          | Jacket | 50          | 75